.container {
    max-width: 960px;
}

.alert {
    top: 10px;
    position: sticky;
}

.form-select:focus {
    box-shadow: none;
}

.invalid {
    border-color: red;
}

.fa-exclamation-circle {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}

footer {
    bottom: 0px;
    position: sticky;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 10px;
}